.parent {
  -fx-background-color: #e9ecef;
}

.sidebar {
  -fx-background-color: #444444;
}

.close-button:hover {
  -fx-fill: #e03131;
}

.back-button:hover {
  -fx-fill: #00d1cd;
}

.nav-buttons {
  -fx-background-color: #444444;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.nav-buttons:hover,
.nav-buttons.active {
  -fx-background-color: #333333;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.input-field {
  -fx-border-color: #dee2e6;
  -fx-border-width: 0.5px;
}

.input-field:focused {
  -fx-border-color: #00d1cd;
}

.combo-box {
  -fx-background-color: #dee2e6;
  -fx-padding: -5 5 -5 5;
}

.register-label:hover {
  -fx-underline: true;
}

.normal-button {
  -fx-background-color: #00d1cd;
  -fx-text-fill: #ffffff;
  -fx-background-radius: 3px;
}

.normal-button:hover {
  -fx-background-color: transparent;
  -fx-background-radius: 3px;
  -fx-text-fill: #00d1cd;
  -fx-border-color: #00d1cd;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-radius: 3px;
}

.confirm-button {
  -fx-background-color: #2f9e44;
  -fx-text-fill: #ffffff;
  -fx-background-radius: 3px;
}

.confirm-button:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #2f9e44;
  -fx-background-radius: 3px;
  -fx-border-color: #2f9e44;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-radius: 3px;
}

.cancel-button {
  -fx-background-color: #e03131;
  -fx-text-fill: #ffffff;
  -fx-background-radius: 3px;
}

.cancel-button:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #e03131;
  -fx-background-radius: 3px;
  -fx-border-color: #e03131;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-radius: 3px;
}

.transparent-button {
  -fx-background-color: transparent;
}

.text-area {
  -fx-background-insets: 0;
  -fx-border-color: #e9ecef;
}

.text-area .content {
  -fx-background-color: #e9ecef;
  -fx-border-color: #e9ecef;
  -fx-text-weight: bold;
}

.text-area:focused {
  -fx-highlight-fill: #e9ecef;
}

.delete-icon:hover {
  -fx-fill: #e03131;
}

.edit-icon:hover {
  -fx-fill: #2f9e44;
}

.update-icon:hover {
  -fx-fill: #00d1cd;
}

.client-item,
.user-item,
.component-item {
  -fx-background-color: transparent;
}

.list-view {
  -fx-control-inner-background: #e9ecef;
  -fx-background-color: #e9ecef;
  -fx-selection-bar: #cfcfcf;
  -fx-selection-bar-non-focused: #cfcfcf;
  -fx-accent: #cfcfcf;
  -fx-text-fill: #444444;
}

.list-cell {
  -fx-padding: 10px;
}

.scroll-bar:vertical {
  -fx-pref-width: 6px;
  -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: #00d1cd;
  -fx-background-radius: 3px;
}

.scroll-bar:vertical:pressed .thumb {
  -fx-background-color: #009c98;
}

.scroll-bar:vertical:hover .thumb {
  -fx-background-color: #00b6b2;
}

.scroll-bar:vertical .thumb:hover {
  -fx-background-color: #00b6b2;
}

.scroll-bar:vertical .thumb:pressed {
  -fx-background-color: #009c98;
}
