.parent {
  -fx-background-color: #e9ecef;
}

.sidebar {
  -fx-background-color: #444444;
}

.close-button:hover {
 -fx-fill: #e03131;
}

.back-button:hover {
 -fx-fill: #00d1cd;
}

.nav-buttons {
  -fx-background-color: #444444;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.nav-buttons:hover, .nav-buttons.active {
  -fx-background-color: #333333;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.input-field {
  -fx-border-color: #dee2e6;
  -fx-border-width: 0.5px;
}

.input-field:focused {
  -fx-border-color: #00d1cd;
}

.role-selector, .amount-selector,
.type-selector {
  -fx-background-color: #dee2e6;
}

.register-label:hover {
  -fx-underline: true;
}

.normal-button {
  -fx-background-color: #00d1cd;
  -fx-text-fill: #ffffff;
  -fx-background-radius: 3px;
}

.normal-button:hover {
  -fx-background-color: transparent;
  -fx-background-radius: 3px;
  -fx-text-fill: #00d1cd;
  -fx-border-color: #00d1cd;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-radius: 3px;
}

.confirm-button {
  -fx-background-color: #2f9e44;
  -fx-text-fill: #ffffff;
  -fx-background-radius: 3px;
}

.confirm-button:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #2f9e44;
  -fx-background-radius: 3px;
  -fx-border-color: #2f9e44;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-radius: 3px;
}

.cancel-button {
  -fx-background-color: #e03131;
  -fx-text-fill: #ffffff;
  -fx-background-radius: 3px;
}

.cancel-button:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #e03131;
  -fx-background-radius: 3px;
  -fx-border-color: #e03131;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-radius: 3px;
}

.delete-icon {
  -glyph-size:15px;
  -fx-fill:#E03131;
}

.edit-icon {
  -glyph-size:15px;
  -fx-fill:#2F9E44;
}
