.parent {
  -fx-background-color: #444444;
}

.nav_buttons {
  -fx-background-color: #444444;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.nav_buttons:hover {
  -fx-background-color: #333333;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.back_button:hover {
  -fx-fill: #00d1cd;
}
